.app-container {
  min-height: 100vh;
  background-color: #ffffff;
  transition: all 0.3s ease;
  
  &.dark-theme {
    background-color: #303030;
    color: #ffffff;
    
    mat-toolbar {
      background-color: #424242;
    }
    
    .content {
      background-color: #303030;
    }
  }
}

.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 20px;
  transition: background-color 0.3s ease;
}